<!-- fragments/documentos.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <th:block th:fragment="tabelaChecklist(documentos)">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade de Negócio</th>
          <th>Responsável</th>
          <th></th>
          <!-- <th class="text-end">Ações</th> -->
        </tr>
      </thead>
      <tbody>
        <tr th:each="d : ${documentos}">
          <td th:text="${d.nomeDocumento}"></td>
          <td th:text="${d.nomeRamo}"></td>
          <td th:text="${d.usuario.nomeUsuario}"></td>
          <td class="text-end">
            <button class="btn btn-outline-primary btn-sm">Abrir</button>
            <button class="btn btn-outline-primary btn-sm">Produção (PRD)</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- PAGINAÇÃO -->
	<nav th:if="${totalPaginas > 1}" aria-label="Paginação de documentos">
	    <ul class="pagination justify-content-end mt-3">
	
	        <!-- Anterior -->
	        <li class="page-item"
	            th:classappend="${paginaAtual == 0} ? ' disabled'">
	            <a class="page-link"
	               th:href="@{/index(page=${paginaAtual - 1})}">
	                Anterior
	            </a>
	        </li>
	
	        <!-- Páginas -->
	        <li class="page-item"
	            th:each="i : ${#numbers.sequence(0, totalPaginas - 1)}"
	            th:classappend="${i == paginaAtual} ? ' active'">
	            <a class="page-link"
	               th:text="${i + 1}"
	               th:href="@{/index(page=${i})}">
	            </a>
	        </li>
	
	        <!-- Próxima -->
	        <li class="page-item"
	            th:classappend="${paginaAtual + 1 >= totalPaginas} ? ' disabled'">
	            <a class="page-link"
	               th:href="@{/index(page=${paginaAtual + 1})}">
	                Próxima
	            </a>
	        </li>
	
	    </ul>
	</nav>
  </th:block>

</body>
</html>
