<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <th:block th:fragment="identificacao">

        <div id="identificacaoDocumento" class="card form-card">

            <div class="card-header bg-white border-0 pb-0">
                <h5 class="mb-0">Identificação do Documento</h5>
            </div>

            <div class="card-body pt-3">

                <!-- FORMULÁRIO IDENTIFICAÇÃO  (não usa mais th:object) -->
                <form id="formIdentificacao" onsubmit="return false;">

                    <div class="row mb-3">

                        <div class="col-md-6">
                            <label class="form-label">
                                Nome do documento <span class="text-danger">*</span>

                            </label>
                            <input type="text" class="form-control" id="nomeDocumento" required maxlength="50">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Ramo <span class="text-danger">*</span></label>
                            <select class="form-control filter-option-inner" id="ramo">
                                <option value="">Selecione</option>
                                <option th:each="r : ${ramos}" th:value="${r.idRamo}" th:text="${r.nomeRamo}"></option>
                            </select>

                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col-md-6">
                            <label class="form-label">Status <span class="text-danger">*</span></label> <select id="statusDocumento" class="form-control">
                                <option value="">Selecione</option>
                                <option value="1">1 - Ativo</option>
                                <option value="2">2 - Inativo</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">
                            	Centro de custo <span class="text-danger">*</span>
                            </label> 
                            
                            <input type="text" id="centroCusto" class="form-control" required maxlength="5">
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
	                        <label class="form-label">
	                            Responsável <span class="text-danger">*</span>
	                        </label>
	                        <span class="form-control" id="responsavelNome"></span>
							<input type="hidden" id="responsavel">
						</div>
						
						<div class="col-md-6">
                            <label class="form-label">
                               Identificação da demanda<span class="text-danger">*</span>

                            </label>
                            <input type="text" class="form-control" id="demanda" required maxlength="50">
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-6">

                            <div class="form-label">
                                <input type="checkbox" class="form-check-input" id="isIcatu">
                                <label class="form-check-label" for="isIcatu">Documento
                                    Icatu?</label>
                            </div>

                            <div class="form-label">
                                <input type="checkbox" class="form-check-input" id="isRG">
                                <label class="form-check-label" for="isRG">Documento Rio Grande?</label>
                            </div>

                            <div class="form-label">
                                <input type="checkbox" class="form-check-input" id="isCaixa">
                                <label class="form-check-label" for="isCaixa">Documento Caixa?</label>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </th:block>

</body>

</html>