@charset "UTF-8";
.label-tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.tooltip-icon {
  font-size: 14px;
  background: #e3e3e3;
  padding: 2px 6px;
  border-radius: 50%;
  cursor: help;
}

.tooltip-text {
  position: absolute;
  top: 130%;
  left: 0;

  width: 520px;
  background: #333;
  color: #fff;
  padding: 8px;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  z-index: 10;
}

.label-tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
