<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>PADD - Meus Documentos</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<link rel="stylesheet" th:href="@{/css/identificacao.css}" />
<link rel="stylesheet" th:href="@{/css/ti.css}" />
<link rel="stylesheet" href="/css/style.css" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<link rel="stylesheet" th:href="@{/css/notiflix/notiflix-3.2.7.min.css}">
<script src="/js/notiflix/notiflix-loading-aio-3.2.7.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-card-checklist fs-2 text-primary"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-items-center-logout" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="btnNovo" onclick="NovoDocumento()">Novo documento</a>
        </li>
        </ul>
        <ul class="navbar-nav">
		  <li class="nav-item dropdown d-flex align-items-center">
		    
		    <a
		      class="nav-link dropdown-toggle d-flex align-items-center gap-1 p-0"
		      href="#"
		      role="button"
		      data-bs-toggle="dropdown"
		      aria-expanded="false"
		    >
		      <div class="avatar-circle">
		        <span th:text="${#strings.substring(usuarioLogado.nome, 0, 1)}"></span>
		      </div>
		    </a>
		
		    <ul class="dropdown-menu dropdown-menu-end">
		      <li>
		        <span class="dropdown-item-text nome-usuario"
		              th:text="${usuarioLogado.nome}">
		          Usuário
		        </span>
		      </li>
		      <li>
		        <a class="dropdown-item" th:href="@{/logout}">Sair</a>
		      </li>
		    </ul>
		
		  </li>
		</ul>

    </div>
  </div>
</nav>
<div class="px-2">
    <main class="content-area container-fluid">
	    <!-- TOPO DO CONTEÚDO -->
		<div class="content-header">
  
		  <!-- Submenu -->
		  <div id="submenu" class="submenu-top collapse">
		    <button class="submenu-item active"
		            onclick="mostrarAba('aba-identificacao', this)">
		      Identificação do Documento
		    </button>
		
		    <button class="submenu-item"
		            onclick="mostrarAba('aba-ti', this)">
		      Layout e Forma de Envio
		    </button>
		
		    <button class="submenu-item"
		            onclick="mostrarAba('aba-modelo', this)">
		      Modelo do Documento
		    </button>
		  </div>
		
		  <!-- Botão versões -->
		  <button class="btn btn-outline-primary btn-versoes collapse"
		          id="btnCarregarVersoes"
		          type="button"
		          data-bs-toggle="offcanvas"
		          data-bs-target="#staticBackdrop">
		    ☰ Versões
		  </button>
		
		</div>

        <!-- ABA: HOME (padrão) -->
        <div id="aba-home" class="aba" style="display:block;">		
            <div class="card documentos-card mt-2">
                <div class="card-header d-flex justify-content-between align-items-center bg-white border-0 pb-0">
                    <h5 class="mb-0">Meus documentos</h5>
                    <button class="btn btn-recarregar" onclick="location.reload()">Recarregar</button>
              
                </div>

                <div class="card-body pt-3">
                    <div th:replace="fragment/checklists :: tabelaChecklist(${checklists})"></div>

                    <div class="footer-btns mt-4">
                        <button class="btn btn-status">Em revisão</button>
                        <button class="btn btn-status">Aprovado</button>
                        <button class="btn btn-status">Publicado</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- ABA: IDENTIFICAÇÃO -->
        <div id="aba-identificacao" class="aba" style="display:none;">
            <div th:replace="~{fragment/identificacao :: identificacao}"></div>
        </div>

        <!-- ABA: TI -->
        <div id="aba-ti" class="aba" style="display:none;">
            <div th:replace="~{fragment/ti :: ti}"></div>
        </div>
        
        <!-- ABA: Modelo -->
        <div id="aba-modelo" class="aba" style="display:none;">
            <div th:replace="~{fragment/modelo :: modelo}"></div>
        </div>
        
        <div id="acoesChecklist" class="d-flex justify-content-end gap-2 mt-2">
		    <!-- Cancelar -->
		    <button id="btnCancelar"
		            type="button"
		            class="btn-acoes btn-cancelar d-none"
		            onclick="cancelarCriacaoChecklist()">
		        Cancelar
		    </button>
		
		    <!-- Salvar -->
		    <button id="btnSalvar"
			        type="button"
			        class="btn-acoes btn-salvar d-none">
			    Salvar Documento
			</button>
		</div>
    </main>
    
     <!-- LISTA -->
    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Versões Checklist</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <ul id="listaVersoesLateral" class="lista-versoes">
        <!-- JS preenche -->
    </ul>
    </div>
  </div>
</div>
    

<!-- </aside> -->
	
</div>

<script>
    window.USUARIO_LOGADO_ID   = '[[${usuarioLogado.id}]]';
    window.USUARIO_LOGADO_NOME = '[[${usuarioLogado.nome}]]';
</script>


<script th:inline="javascript">
    window.API_BASE_URL = /*[[${apiUrl}]]*/ "";
</script>


<script src="/js/identificacao.js"></script>
<script src="/js/ti.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
